---
import { twMerge } from 'tailwind-merge'
const isActive = (path: string, currentPath: string) =>
  currentPath === path && 'shadow-highlight'

const basePath = import.meta.env.BASE_PATH || ''
---

<nav>
  <ul class="flex gap-4 text-center">
    {
      [
        { href: `${basePath}/`, label: 'Home' },
        { href: `${basePath}/aboutUs`, label: 'About us' },
        { href: `${basePath}/studyInJapan`, label: 'Study in Japan' },
        { href: `${basePath}/ourTeam`, label: 'Our Team' },
        { href: `${basePath}/faq`, label: 'FAQ' },
        { href: `${basePath}/contactUs`, label: 'Contact Us' },
      ].map(({ href, label }) => (
        <li>
          <a
            class={twMerge('px-1', isActive(href, Astro.url.pathname))}
            href={href}
            aria-current={Astro.url.pathname === href ? 'page' : undefined}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
